<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.gruppe13.hiof.taskmanager">

    <application
        android:name="no.gruppe13.hiof.taskmanager.TaskManagerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager"
        tools:targetApi="31">

        <activity
            android:name=".CreateCategoryActivity"
            android:label="Lag ny kategori"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">
        <!--        Code for line above from source:  https://developer.android.com/develop/ui/views/touch-and-input/keyboard-input/visibility-->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="no.gruppe13.hiof.taskmanager.MainActivity" />
        </activity>/>

        <activity
            android:name=".TodoItems"
            android:label="Dagens gjøremål"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.gruppe13.hiof.taskmanager.MainActivity" />
        </activity>/>

        <activity
            android:name=".CreateTaskActivity"
            android:label="Opprett nytt gjøremål"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".TodoItems">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="no.gruppe13.hiof.taskmanager.TodoItems" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>